<app-header></app-header>
<div class="container text-center">
  <h2 class="my-4"> Corrobora los participantes de esta batalla</h2>
  
  <div class="combatients-container row text-center">
    <app-user-card [user]="participant1Object"></app-user-card>
    <H1>VS</H1>
    <app-user-card [user]="participant2Object"></app-user-card>
  
    <div class="container mt-5 text-center">
      <button 
          class="btn btn-primary w-100"
          (click)="StartCombat()">
            Comenzar combate
        </button>
    </div>
  
  </div>
  
</div>

<app-footer></app-footer> 