@media screen and (min-width: 992px) {
    .footer {
        position: static;
    }
  
}
@media screen and (max-width: 576px) {
    .footer {
        position: fixed;
    }
    
}
.footer {
    width: 100%;
    padding: 15px 0;
    bottom: 0;
    left: 0;
    text-align: center;
  
}

.footer-img {
    max-height: 50px; 
}
