<app-header></app-header>

<h1 class="text-center mt-3">COMENZAR BATALLA FASE DE GRUPOS</h1>

<div class="card-position-group-stage">
    <div class="card group-stage-card text-center mx-auto">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">GRUPO</label>
                    <select class="form-select" name="" id="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">COMPETIDOR 1</label>
                    <select class="form-select" name=""  id="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">COMPETIDOR 2</label>
                    <select class="form-select" name="" id="">
                        <option value=""></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">INICIAR BATALLA</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
