<app-header></app-header>

<div class="card battle-card text-center mx-auto">
  <div class="card-body">
    <h3 class="title">DETALLE DE BATALLA</h3>
    <h4 class="group">GRUPO {{ group }}</h4>
    <h5 class="set">SET {{ gameSet }}</h5>

    <div class="mb-3 ">
      <label class="form-label ">COMPETIDOR 1</label>
      <input type="text" class="form-control competitor">
    </div>

    <div class="mb-3">
      <label class="form-label">COMPETIDOR 2</label>
      <input type="text" class="form-control competitor">
    </div>

    <button class="btn btn-primary w-100">TERMINAR SET</button>

  </div>
</div>

<app-footer></app-footer>
