<app-header></app-header>
<div class="card-position-login">
    <div class="card login-card text-center mx-auto ">
        <div class="card-body">
            <!-- <h3 class="title">INICIAR SESIÓN</h3> -->
            <form>
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control" placeholder="Ingresa tu usuario" [(ngModel)]="user.username" name="username">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="Ingresa tu contraseña" [(ngModel)]="user.password" name="current-password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
            </form>
    </div>   
</div>
</div>


<app-footer></app-footer>
